* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6em;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: rgb(75,156,75);
  text-decoration: none;
}


/* HEADER
---------------------------------*/

header {
  font-size: 1.2em;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  margin: 10px 0 13px;
  color: #aaa;
}

header .left,
header .right {
  position: absolute;
  top: 0;
  padding: 10px 13px;
}

header .left {
  left: 0;
}

header .right {
  right: 0;
}


/* BODY
-------------------------*/

body>div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

body.standalone>div {
  top: 20px;
}

.transition {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23,1,0.32,1);
}

.in {
  -webkit-transform: translateX(0%);
}

.out-left {
  -webkit-transform: translateX(-20%);
}

.out-right {
  -webkit-transform: translateX(100%);
}

.verses {
  list-style-type: none;
  margin: 0;
  overflow-x: hidden;
  padding: 13px;
}

.verses li {
  margin-bottom: 1em;
}

.verses li .reference,
.verses li .text {
  display: block;
}

.verses li .reference {
  font-size: 1.2em;
}

.verses li .text {
  color: #888;
  font-size: .8em;
  white-space: nowrap;
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
}

.verses li a {
  text-decoration: none;
  color: inherit;
}

.body.verse {
  padding: 1em;
}

input, textarea {
  display: block;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  padding: 5px 6px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 1px solid #ddd;
  margin: 0 0 .4em;
  outline: 0;
}

textarea {
  border-width: 1px;
}

select {
  display: block;
  width: 100%;
  margin: 0 0 .4em;
  outline: 0;
  border-color: #ddd;
  padding: 4px 2px;
}

.new-verse,
.edit-verse {
  padding: 13px;
}

.form-actions {
  text-align: center;
  margin-top: 1em;
}

.form-actions a {
  padding: .4em .6em;
}

#delete-verse {
  color: rgb(231, 75, 75);
}


/* FOOTER
-----------------------*/

footer {
  bottom: 16px;
  position: fixed;
  width: 100%;
}

footer nav {
  text-align: center;
}

footer nav a {
  margin: 0 .2em;
  padding: .25em .5em;
}

footer nav a.active {
  border-bottom: 3px solid rgb(75, 156, 75);
  font-weight: 700;
}
