* {
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: rgb(75,156,75);
	text-decoration: none;
}


/* HEADER
---------------------------------*/

header {
	font-size: 1.2em;
	font-weight: 300;
}

h1 {
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
	margin: .4em 0;
	color: #aaa;
}

header .left,
header .right {
	position: absolute;
	top: 0;
	padding: .4em;
}

header .left {
	left: 0;
}

header .right {
	right: 0;
}


/* BODY
-------------------------*/

.verses {
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	padding: 1em;
}

.verses li {
	margin-bottom: 1em;
}

.verses li .reference,
.verses li .text {
	display: block;
}

.verses li .reference {
	font-size: 1.2em;
}

.verses li .text {
	color: #888;
	font-size: .8em;
	font-weight: 300;
	white-space: nowrap;
	-webkit-mask-image: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
}

.verses li a {
	text-decoration: none;
	color: inherit;
}

.body.verse {
	padding: 1em;
}

input {
	display: block;
	position: relative;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-weight: 300;
	border-radius: 0;
	box-shadow: none;
	padding: 5px 6px;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	border: 1px solid #eee;
	margin: 0 0 .4em;
	outline: 0;
}

select {
	display: block;
	width: 100%;
	margin: 0 0 .4em;
	outline: 0;
	border-color: #eee;
	padding: 4px 2px;
	font-weight: 300;
}

.new-verse {
	padding: 1em;
}


/* FOOTER
-----------------------*/

footer {
	bottom: 1em;
	position: fixed;
	width: 100%;
}

footer nav {
	text-align: center;
}

footer nav a {
	margin: 0 .2em;
	padding: .25em .5em;
	font-weight: 300;
}

footer nav a.active {
	border-bottom: 3px solid rgb(75, 156, 75);
	font-weight: 700;
}