<header>
  <a class="left" href="#verse/{{id}}">
    Cancel
  </a>
  <h1>Edit Verse</h1>
  <a class="right" id="save-verse" href="javascript:void(0)">
    Save
  </a>
</header>

<div class="body edit-verse">
  <input type="text" name="reference" placeholder="Reference" value="{{reference}}" />
  <input type="hidden" name="version" value="esv" />
  <select name="list">
    {{#select list}}
  	<option value="learning">Learning</option>
  	<option value="memorized">Memorized</option>
    {{/select}}
  </select>
  <textarea name="text" rows="12">{{text}}</textarea>
  
  <div class="form-actions">
    <a href="javascript:void(0)" id="delete-verse">Delete</a>
  </div>
</div>
