<header>
  <a class="left" href="#">
    Cancel
  </a>
  <h1>New Verse</h1>
  <a class="right" id="save-verse" href="javascript:void(0)">
    Save
  </a>
</header>

<div class="body new-verse">
  <input type="text" name="reference" placeholder="Reference" />
  <input type="hidden" name="version" value="esv" />
  <select name="list">
  	<option value="learning">Learning</option>
  	<option value="memorized">Memorized</option>
  </select>
  <textarea name="text" rows="12" />
</div>