<header>
  <a class="left" href="#">
    Cancel
  </a>
  <h1>New Verse</h1>
  <a class="right" id="save-verse" href="javascript:void(0)">
    Save
  </a>
</header>

<div class="body new-verse">
	<input type="text" name="reference" placeholder="Reference" />
  <select name="version">
    <option value="esv">ESV</option>
  	<!--<option value="niv">NIV</option>
  	<option value="nlt">NLT</option>-->
  </select>
  <select name="list">
  	<option value="learning">Learning</option>
  	<option value="memorized">Memorized</option>
  </select>
  <textarea name="text" rows="7" />
</div>