<header>
  <a class="left" href="#">
    Back
  </a>
  <h1>{{reference}}</h1>
  <a class="right" id="edit-verse" href="#verse/edit/{{id}}">
    Edit
  </a>
</header>

<div class="body verse">
  {{{verseTextToHtml}}}
</div>
