<header>
  <h1>{{title}}</h1>
  <a class="right" href="#verse/new">
    New
  </a>
</header>

<div class="body verse-list">
  <ul class="verses"></ul>
</div>

<footer>
  <nav>
    <a href="#verses">All</a>
    <a href="#verses/learning" data-list="learning">Learning</a>
    <a href="#verses/memorized" data-list="memorized">Memorized</a>
    <a href="#verses/saved" data-list="saved">Saved</a>
  </nav>
</footer>