<header>
  <a class="left" href="#" data-transition="prev">
    Back
  </a>
  <h1>{{reference}}</h1>
  <a class="right" id="edit-verse" href="#verse/edit/{{id}}" data-transition="next">
    Edit
  </a>
</header>

<div class="body verse">
  {{{verseTextToHtml}}}
</div>
